<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Umi App</title>
  <style>
    .main-title {
      background-color: aquamarine;
      text-align: center;
    }
  </style>
</head>
<body>
  <!-- 使用ejs语法模板 -->
  <div id="slave-root">
  </div>
  <!-- 微前端，在指定子节点中渲染 -->
  <div id="sub-root"></div>
  
</body>
</html>